.log
*.log
.zip
*.zip
.DS_Store
*/LOG_HOME_IS_UNDEFINED/
LOG_HOME_IS_UNDEFINED/
*.swp
node_modules
*.bak
.idea/
.target/
*.target/
.git/
.buildpath
.project
npm-debug.log
*.tar.gz
*.tar
.bak/
*.out
dist/
/dist/
*.DS_Store
*.gitignore
.gitignore
HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
*.gitignore
.apt_generated
*.classpath
*.class
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target/
.idea/
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/logs/Mz/
/cloudframe-mz-manage-web/logs/
**/logs/**
